<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras-spring-security" lang="en">

<head th:replace="layout/layout :: head"></head>

<body>

<div id="i18n_delete_client" th:text="#{text.client.deleteOk}" style="display: none;"></div>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>

        <div class="card-body">

            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/form}" class="btn btn-primary btn-xs" th:text="#{text.client.create}">Create
                    Client</a>
            </h4>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">Id</th>
                    <th th:text="#{text.client.firstName}">First Name</th>
                    <th th:text="#{text.client.lastName}">Last Name</th>
                    <th th:text="#{text.client.email}">Email</th>
                    <th th:text="#{text.client.createAt}">Date</th>
                    <th th:text="#{text.bill.form.title}" sec:authorize="hasRole('ROLE_ADMIN')">Create Bill</th>
                    <th th:text="#{text.client.update}" sec:authorize="hasRole('ROLE_ADMIN')">Update</th>
                    <th th:text="#{text.client.delete}" sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client: ${clients}">
                    <td sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn btn-primary btn-xs" th:href="@{/see/} + ${client.id}" th:text="${client.id}"></a>
                    </td>

                    <td th:text="${client.firstName}"></td>

                    <td th:text="${client.lastName}"></td>

                    <td th:text="${client.email}"></td>

                    <td th:text="${client.createAt}"></td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-success btn-xs" th:href="@{'/bill/form/' + ${client.id}}"
                           th:text="#{text.bill.form.title}"></a>
                    </td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary btn-xs" th:href="@{/form/} + ${client.id}" th:text="#{text.client.update}"></a>
                    </td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${client.id}" th:text="#{text.client.delete}"
                           onclick="return confirm(document.getElementById('i18n_delete_client').innerHTML);"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>